html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Nunito', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.chakra-tabs__tablist{
  padding: 5px 0;
  margin: 12px -12px;
  overflow: auto;
}

.chakra-tabs__tab{
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}
